.AddPlayer {
    margin-left: 38.5%;
    margin-right: 38.5%;
    width: 100%;
    margin-top: 150px;
}

.AddPlayer__input {
    background: transparent;
    border: none;
    border-bottom: 3px solid #ffa939;
    width: 400px;
    color: #E8DDCE;
}

.AddPlayer__submit {
    margin-left: 30px;
    background: #ffa939;
    padding: 15px 25px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #a53e4f;
}